#explorviz-banner h2 {
    margin-top: 0;
    margin-bottom: 0;
}

#explorviz-banner h3 {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0.25em;

    font-size: 14pt;
}

#explorviz-banner img {
    padding: 0.25em;
}
