#dialog-header {
    align-items: center;
    margin-bottom: var(--lumo-space-m);
}

#dialog-header h3 {
    margin-top: 0;
    margin-bottom: 0;
}

#log-output {
    padding: 0;
    display: block;
    box-sizing: border-box;

    /* Dirty hack for dialog sizing because dialogs can not be styled directly */
    min-width: calc(50vw - 2 * var(--lumo-space-l));
    max-width: calc(85vw - 2 * var(--lumo-space-l));
    min-height: calc(50vh - 5 * var(--lumo-space-l));
    max-height: calc(90vh - 5 * var(--lumo-space-l));

    /* Scrollbar for actual text */
    overflow-y: scroll;
}

#log-output pre {
    /* Make it look like a single area */
    margin: 0;
    border-radius: 0;
    /* TODO: Fix additional empty lines when copying the log */

    padding: 0 0.5em;
    line-height: 1.5;

    /* Break long lines */
    white-space: pre-wrap;
    word-wrap: break-word;
}

.dialog-text {
    max-width: 40em;
}

.dialog-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}
