#explorviz-banner {
    display: flex;
    align-items: center;
}

#explorviz-banner h2 {
    margin-top: 0;
    margin-bottom: 0;
}

#explorviz-banner img {
    padding: 0.25em;
}

.explorviz-banner-small h2 {
    margin-left: 0.25em;
    font-size: 14pt;
}

.explorviz-banner-small img {
    width: 48px;
    height: 48px;
}

.explorviz-banner-big img {
    width: 96px;
    height: 96px;
}
