.rich-list {
    margin-top: 0;
    list-style-type: none;
    padding-left: 0.5em;
    width: initial !important;
}

.rich-list-entry {
    border-left: 4px solid var(--lumo-shade-20pct);
    padding: 0.5em 1em;
    margin-top: 1.5em;
}

.rich-list-entry p {
    margin-bottom: 0.5em;
}

.rich-list-entry pre {
    display: inline-block;
    padding: 0.4em 0.8em;
    margin: 0.2em 0;
}

.rich-list-header {
    margin-top: 0.5em;
    margin-bottom: 0.75em;
    margin-left: var(--lumo-space-m);
}

.rich-list-header a {
    margin-left: 0;
}

.rich-list-header, .rich-list-header > a {
    display: flex;
    align-items: center;
}

.rich-list-header iron-icon {
    width: 24px;
    height: 24px;
    margin-left: 0;
    margin-right: var(--lumo-space-m);
}

.rich-list-header h4 {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
}

.controls-bar {
    display: flex;
    align-items: baseline;
    margin-top: 0;
}
