.simple-list-link {
    display: flex;
    align-items: center;

    margin-top: 0.6em;
    margin-bottom: 0.2em;
}

.simple-list-link iron-icon {
    width: 24px;
    height: 24px;

    margin-right: 0.4em;
}

.simple-list-link h4 {
    margin-top: 0;
    margin-bottom: 0;
}
