.simple-list {
    margin-top: 0;
    list-style-type: none;
    padding-left: 0.5em;
}

.simple-list-entry {
    border-left: 4px solid var(--lumo-shade-20pct);
    padding: 0.5em 1em;
    margin-top: 1.5em;
}

.simple-list-entry p {
    margin-bottom: 0;
}

.simple-list-entry h4, .simple-list-link {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.simple-list-link {
    display: flex;
    align-items: center;
}

.simple-list-link iron-icon {
    width: 24px;
    height: 24px;

    margin-right: 0.4em;
}

.simple-list-link h4 {
    margin-top: 0;
    margin-bottom: 0;
}

.instance-controls {
    display: flex;
    align-items: center;
    margin-top: 1em;
}
