name: Java CI

on: [push, pull_request]

jobs:
  maven:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: [ '11', '14' ]
    name: Build (JDK ${{ matrix.java }})
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Setup JDK
      uses: actions/setup-java@v1
      with:
        java-version: ${{ matrix.java }}
        architecture: x64
    - name: Setup Node
      uses: actions/setup-node@v1
      with:
        node-version: 12.x
    - name: Build with Maven
      run: mvn -B -Dorg.slf4j.simpleLogger.log.org.apache.maven.cli.transfer.Slf4jMavenTransferListener=warn -P system-node,production verify
  docker:
    runs-on: ubuntu-latest
    name: Build (Docker)
    steps:
    - name: Checkout
      uses: actions/checkout@v1
    - name: Docker Build
      run: docker build -f docker/Dockerfile .
